body{
    background-color: yellow;
}
.article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.highlighted {
    background-color: #ffdddd;
    border: 2px dashed red;
}

.highlight {
    font-weight: bold;
    color: red;
    background-color: blue;
}