body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.registration-form,
.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.registration-form h2,
.contact-form h2 {
    margin-bottom: 10px;
    color: #007bff;
}

.registration-form p {
    margin-bottom: 20px;
    color: #666666;
}

.registration-form input,
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.registration-form button,
.contact-form button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.registration-form button:hover,
.contact-form button:hover {
    background-color: #0056b3;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}